node_modules
backend/data
backend/uploads/*
!backend/uploads/.gitkeep
secure-backend/data
secure-backend/uploads/*
!secure-backend/uploads/.gitkeep
insecure-backend/data
insecure-backend/uploads/*
!insecure-backend/uploads/.gitkeep
secure-app/node_modules
secure-app/ios/Pods
secure-app/ios/build
secure-app/android/.gradle
secure-app/android/app/build
insecure-app/node_modules
insecure-app/ios/Pods
insecure-app/ios/build
insecure-app/android/.gradle
insecure-app/android/app/build
.DS_Store
